#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --main-blue:#225A7A;
}

.App {
  min-width:585px;
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  'header header'
  'sidebar content'
}

/*Style Header*/

#header {
  display:flex;
  min-height:118px;
  align-items:center;
  width:100%;
  background-color:var(--main-blue);
  height:108px;
  padding-top:3.2rem;
  text-align:left;
  grid-area: header;
  margin-bottom:4rem;
}

.profile-pic{
  border:2.2rem solid var(--main-blue);
  border-radius:50%;

}

#name-title-wrapper{
  margin-left:2rem;
  margin-bottom:3rem;
  color:#fefefe;
}

#name-title-wrapper h1 {
  font-size:4rem;
  margin-bottom:1rem;
  font-weight:500;
}

#name-title-wrapper h3 {
  font-weight:400;
  word-spacing: 0.1rem;
}

/* Style Sidebar */

.sidebar{
  grid-area: sidebar;
  display:flex;
  flex-flow:column;
  padding:0;
  text-align:left;
}

.side-card {
  border-bottom:1px solid var(--main-blue);
  padding-bottom:1rem;
  padding:2rem 3rem;
}

.side-card h2 {
  font-weight:400;
  font-size:2.5rem;
  color:var(--main-blue);
  
}
.contact-card{
  display:flex;
  align-items:center;
  margin-bottom:1rem;
}

.contact-icon{
  margin-right:0.5rem;
}
.contact-card-value{
  margin:0;
  color:var(--main-blue);
  font-weight:600;
}

/* Education Card Styles */

.education-card > * {
  margin:0;
}

/* Language Card Styling*/

.language-card ul{
  padding:0;
  list-style-type:none;
  display:inline
}

/* Summary Styles */
.main-content-card {
  text-align:left;
  max-width:80%;
  margin:10% auto;
}

.main-content-heading {
  color:var(--main-blue);
  font-weight:400;
  font-size:3rem;
}